<form name="new_recipe" class="form-group">
    <h2 class="new-recipe-heading">Fill in the details of your recipe below</h2><br/>

    <input type="text" class="input-block-level" placeholder="title" ng-model="recipe.name" required autofocus>
    <input type="text" class="input-block-level" placeholder="short description" ng-model="recipe.description">
    <input type="text" class="input-block-level" placeholder="title" ng-model="recipe.name" required autofocus>
    <input type="text" class="input-block-level" placeholder="short description" ng-model="recipe.description">

    <a class="btn btn-large btn-primary" type="submit" ng-click="submit()">Save</a>
</form>
