<h2>Log In</h2>

<div class="login-form">

  <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" ng-model="loginForm.email" required="required" class="form-control">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" ng-model="loginForm.password" required="required" class="form-control">
    </div>


    <div class="field-remember-me">
      if devise_mapping.rememberable? do
        <check_box :remember_me>
        <label :remember_me >
      end
    </div>

    <div class="actions">
      <submit "Log In", class: 'btn btn-success'>
    </div>
  < end >

</div>

<div class="render-link">

  < render "devise/shared/links" >

</div>
