<!DOCTYPE html>
<html lang-"en" ng-app="culinaryAlchemist">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culinary Alchemist</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container-fluid">
      <div id="navbar">
        <div class="navbar navbar-inverse" role="navigation">
          <a class="brand" href="/">Culinary Alchemist</a>
          <div class="navbar-content">
            <ul class="nav navbar-nav navbar-right">
              <a class="btn btn-md btn-default" ng-href="#/users/sign_in">Log In</a>
              <a class='btn btn-md btn-default' ng-href="#/users/sign_up">Sign Up</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-narrow">
        <div ng-view></div>
    </div>

    <%= javascript_include_tag "application" %>

  </body>
  <hr>
  <footer>
    <a class="btn btn-primary" ng-click="logout()">Log Out</a>

  </footer>
</html>
