<!DOCTYPE html>
<html ng-app='culinaryAlchemist'>
<head>
  <title>CulinaryAlchemist</title>
  <link stylesheet_link_tag    'application', media: 'all' >
  <link javascript_include_tag 'application' >
  <link csrf_meta_tags >
</head>
<body>

    <%= yield %>

</body>
</html>
